.toolbar {
    height: 25px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: #bbbbbb;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 0px 0px;
  }


.toolbarPrev {
    height: 25px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: #9333EA;
    color: white;
    font-weight: 400;
    border-radius: 10px 10px 0px 0px;
  }

