/* You can add global styles to this file, and also import other style files */

body{
  margin-bottom: 0 !important;
  overflow: hidden;
  //margin-top: 0 !important;
}

.webchat__basic-transcript{
  font-size: 0.6rem;
}

.targetElements{
  pointer-events: none;
}

li.p-autocomplete-token{
    max-width: 100% !important;
    cursor: grab !important;
    padding: 0.375rem 0.1rem !important;
  }

  .p-autocomplete-multiple-container{
    width: 100% !important
  }

.p-splitter-panel{
    max-height: calc(90vh - 30px);
    overflow-y: hidden;
}

.p-inputtext{
  font-size: 0.8rem !important;
}

.p-component{
  font-size: 0.8rem !important;
}

.p-listbox-item{
  padding: 0.4rem 0 !important;
  cursor: grab !important;
}

.p-listbox-item > .p-checkbox{
  margin-right: 1px !important
}

.p-listbox-item > .p-checkbox > .p-checkbox-box{
  width: 15px !important;
  height: 15px !important
}

.p-listbox-item > .p-checkbox > .p-checkbox-box > .p-checkbox-icon{
  font-size: 7px !important
}


.chartButton{
  height: 5vh;
  max-height: 100%;
  width: 20%;
  margin: 0 5%;
  background-color: rgb(166, 166, 166);
}

.p-button{
  padding: 0.5vh 1vh !important;
  margin: 0 0.5vh !important;
}


.p-accordion-header-link{
  padding: 0px !important;
  margin-top: 3px !important;
}

.p-button-text{
  float: right !important;
  //width: 30px !important;
  height: 30px !important;
}
.p-accordion-content{
  padding: 0.5rem !important;
  cursor: default;
}

.p-multiselect-item{
  padding: 0.1rem !important;
}

.p-multiselect{
  width: 100%;
}

.p-inputgroup-addon{
  min-width: 3.5rem !important;
  padding: 0 !important;
}

.p-splitter-gutter{
  background: #c1c1c1 !important;
}

.p-inputtext{
  padding: 0 0.3rem !important;
}

#x-Axis > .grid > .col-12 > .p-element > .p-autocomplete > .p-autocomplete-multiple-container{
  flex-wrap: nowrap !important;
}

#Color > .grid > .col-12 > .p-element > .p-autocomplete > .p-autocomplete-multiple-container{
  flex-wrap: nowrap !important;
}


.pi-times-circle::before{
  content: "\e93d" !important;
}

.col-1-extension{
  width: 10.333% !important;
}

.col-2-extension{
  width: 10.333% !important;
}


.col-9{
  width: 73% !important;
}

.p-dropdown-trigger{
  width: fit-content !important;
}

.p-dropdown-items{
  padding: 0px !important;
}

.p-dropdown-item{
  padding: 0.3rem 0.4rem !important;
}

.closed{
  display: none;
}

.show{
  display: block;
}

.p-fieldset-legend a{
  padding: 0.25rem !important;
}

.p-fieldset-content{
  padding: 0 !important;
}
.p-fieldset-toggleable{
  position: relative !important;
  top: -4vh !important;
}

.active{
  background: blue !important;
}


.p-togglebutton.p-button{
  background: none !important;
  border:none !important;
}
.p-togglebutton.p-button.p-highlight{
  color: black !important;
}


.pi.pi-lock.p-button-icon{
  color:white !important;
}

.p-button-icon-left{
  color: blue !important;
}

.p-button.p-button-icon-only{
  width: fit-content !important;
}

button.p-ripple.p-element.p-button-raised.p-button-secondary.p-button.p-component:hover{
  background-color: #3b83f67c;
}

.p-card{
  box-shadow: 3px 4px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%) !important;
  border: 1px solid rgb(0 0 0 / 20%) !important;
}

.p-card-body{
  padding: 0 !important;
  overflow-y: auto;
  height: 86%;
}

.p-card-content{
  padding: 0.75rem 0 !important;
}

.p-carousel-item{
  max-width: 35% !important;
}

.p-carousel-content{
  overflow: visible !important;
}

.p-carousel-items-content{
  overflow: visible !important;
}


.p-badge.active{
  height: 1rem !important;
  width: 1rem !important;
  position: absolute !important;
  margin: 0 !important;
  background: #a6192e !important;
  transform: translate(-40%, 40%) !important;
  padding: 0 !important;
  min-width: 0 !important;

}

.p-badge.comparison{
  height: 1rem !important;
  width: 1rem !important;
  position: absolute !important;
  margin: 0 !important;
  background: #a5a5a5 !important;
  transform: translate(-40%, 140%) !important;
  min-width: 0 !important;

}

/*
.p-button-icon-right{
  color: white !important;
}
*/


button.p-disabled{
  opacity: 0 !important;
}

.p-dialog{
  z-index: 1100 !important;
}

.p-dialog-header{
  padding: 0.5rem 1rem 0.5rem 0.5rem !important
}
.p-dialog-content{
  padding:0 1.5rem 0.5rem 0.5rem !important
}

.p-dialog-footer{
  padding: 0 !important;
}

.p-dialog-title{
  font-size: 0.8rem !important;
  padding: 0 0 0 0.5rem !important

}

.p-dialog-bottom-right .p-dialog{
  margin: 0 5px 4% 0px !important
}


#suggestionDialog > .p-element > .p-dialog{
  margin: 0px 0px 0px 25% !important
}

button markdown p{
  margin: 0px !important;
}

.p-chip markdown p{
  margin: 0px !important;
}

.col-3 > p-chip > div{
  background-color: transparent  !important;
}

.buttonDisable{
  pointer-events: none;
  opacity: .25;

}

.leader-line{
  z-index: 1010;
}




/*.p-multiselect-panel{
  width: 150%;
}*/


/* Hide scrollbar for Chrome, Safari and Opera as well as   Hide scrollbar for IE, Edge and Firefox 
.grid::-webkit-scrollbar {
    display: none;
  }
  
  .grid {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  */



  
:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
      stroke: rgb(166, 25, 46);
  }
  50% {
      stroke: #a5a5a5;
  }
  70% {
      stroke: #9333EA;
  }
  80%,
  90% {
      stroke: blue;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }
  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
  }
  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
  }
}

.p-multiselect-panel{
  z-index: 140;
}

#pin > div{
  background-color: gray !important	;
}


.small-input-switch {

  .p-inputswitch {
    height: 1.2rem;
    width: 2.4rem;
    &.p-inputswitch-checked {
        .p-inputswitch-slider::before {
            transform: translateX(1rem);
        }
    }

    .p-inputswitch-slider::before {
        width: 0.9rem;
        height: 0.9rem;
        margin-top: -0.45rem;
    }
  }
}


